{
    "swagger": "2.0",
    "info": {
        "version": "v1",
        "title": "Avalara TaxRates API"
    },
    "host": "taxrates.api.avalara.com",
    "schemes": [
        "https"
    ],
    "paths": {
        "/postal": {
            "get": {
                "tags": [
                    "GetTaxByPostal"
                ],
                "operationId": "GetTaxByPostal",
                "consumes": [ ],
                "produces": [
                    "text/json",
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "country",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "postal",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "apikey",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/StateRate"
                        }
                    },
                    "400": {
                        "description": "Error"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "429": {
                        "description": "Rate limiting has been exceeded. Try again later."
                    }
                },
                "deprecated": false
            }
        },
        "/address": {
            "get": {
                "tags": [
                    "GetTaxByAddress"
                ],
                "operationId": "GetTaxByAddress",
                "consumes": [ ],
                "produces": [
                    "text/json",
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "street",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "city",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "state",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "postal",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "apikey",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/StateRate"
                        }
                    },
                    "400": {
                        "description": "Error"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "429": {
                        "description": "Rate limiting has been exceeded. Try again later."
                    }
                },
                "deprecated": false
            }
        }
    },
    "definitions": {
        "Object": {
            "type": "object",
            "properties": { }
        },
        "StateRate": {
            "type": "object",
            "properties": {
                "totalRate": {
                    "type": "string"
                },
                "rates": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/RegionalRate"
                    }
                }
            }
        },
        "RegionalRate": {
            "type": "object",
            "properties": {
                "rate": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "type": { 
                    "type":  "string"
                }
            }
        }
    }
}
