{
    "swagger": "2.0",
    "info": {
        "version": "v1",
        "title": "Slack App"
    },
    "host": "slack.com",
    "schemes": [
        "https"
    ],
    "paths": {
        "/api/api.test": {
            "get": {
                "tags": [
                    "api.test"
                ],
                "operationId": "api.test",
                "consumes": [ ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                ],
                "responses": {
                    "200": {
                        "description":  "Success",
                        "schema": {
                            "$ref": "#/definitions/SlackReturn"
                        }
					},
                    "400": {
                        "description": "Error"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "500": {
                        "description": "Error"
                    }
                },
                "deprecated": false
            }
        },
        "/api/auth.test": {
            "get": {
                "tags": [
                    "auth.test"
                ],
                "operationId": "auth.test",
                "consumes": [ ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description":  "Success",
                        "schema": {
                            "$ref": "#/definitions/SlackAuthTest"
                        }
					},
                    "400": {
                        "description": "Error"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "500": {
                        "description": "Error"
                    }
                },
                "deprecated": false
            }
        }
    },
    "definitions": {
        "Object": {
            "type": "object",
            "properties": { }
        },
        "SlackMessage": {
            "type": "object",
            "properties": {
                "text": {
                    "type": "string"
                },
                "channel": {
                    "type": "string"
                },
                "username": {
                    "type": "string"
                },
                "icon_emoji": {
                    "type": "string"
                },
                "icon_url": {
                    "type": "string"
                }

            }
        },
        "SlackReturn": {
            "type": "object",
            "properties": {
                "ok": {
                    "type": "string"
                },
                "error": {
                    "type": "string"
                }            
			}
        },
        "SlackAuthTest": {
            "type": "object",
            "properties": {
                "ok": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                },            
                "team": {
                    "type": "string"
                },            
                "user": {
                    "type": "string"
                },            
                "team_id": {
                    "type": "string"
                },
                "user_id": {
                    "type": "string"
                },
                "error": {
                    "type": "string"
                }            
			}
        }

    }
}
